body{font-size: 14px;font-family: 'Roboto', sans-serif;}
img{max-width: 100%}


h1,h2,h3,h4,h5,h6{font-family: 'Roboto', sans-serif;font-weight: 500;}
.navbar-brand{font-family: 'Leckerli One', cursive;font-size:2rem; color: #E84C3D !important;}
.nav-link{color: #333B46 !important;font-family: 'Open Sans', sans-serif;font-size: 14px}
header{background: transparent;padding: 20px 0}
.hello{background: no-repeat center center}
.hello h1{font-size:2.5rem }
.hello .lead{color: #81868E;font-size: 1.2rem; }
.hello .mouse p{color: #E84C3D;font-size: 0.8rem;padding-bottom: 54px;}
.about article h1{font-size: 20px;}
.about{padding-bottom: 20px;}
.line:after{
    content: '';
    background: #898989;
    width: 46px;
    height: 3px;
    display:block;
    margin-top: 24px;
        
    
}
.about article p{color:#81868E;margin-top: 39px;margin-bottom: 47px;}
.line-center:after{margin: 24px auto;}
.what-we h3{font-size: 20px;padding-top: 52px}
.what-we p{color: #81868E;padding-bottom: 60px}
.what-we-item{border:3px solid #EBEBEB;border-radius: 20px;}
.what-we-item span{font-size: 45px;color: #EBEBEB;height: 110px;width: 110px;display: inline-block;background-color:#E84C3D;border-radius: 50%;line-height:110px;margin-top: 30px}
.what-we-item:hover{background: #E84C3D;}
.what-we-item:hover span{background: #FFFFFF;color: #E84C3D;}
.what-we-item:hover h3{color:#FFFFFF }
.what-we-item:hover p{color:#FFFFFF }
.what-we-item:hover .line:after{background:#FFFFFF }



