body{font-size: 14px;font-family: 'Roboto', sans-serif;}
img{max-width: 100%}


h1,h2,h3,h4,h5,h6{font-family: 'Roboto', sans-serif;font-weight: 500;}
.navbar-brand{font-family: 'Leckerli One', cursive;font-size:2rem; color: #E84C3D !important;}
.nav-link{color: #333B46 !important;font-family: 'Open Sans', sans-serif;font-size: 14px}
header{background: transparent;padding: 20px 0}
.hello{background: no-repeat center center}
.hello h1{font-size:2.5rem }
.hello .lead{color: #81868E;font-size: 1.2rem; }
.hello .mouse p{color: #E84C3D;font-size: 0.8rem;padding-bottom: 54px;}
.about article h1{font-size: 20px;}
.about{padding-bottom: 20px;}
.line:after{
    content: '';
    background: #898989;
    width: 46px;
    height: 3px;
    display:block;
    margin-top: 24px;
        
    
}
h3{font-size: 20px;color: #333B46;padding-top: 52px}
.about article p{color:#81868E;margin-top: 39px;margin-bottom: 47px;}
.line-center:after{margin: 24px auto;}
.what-we h3{font-size: 20px;padding-top: 52px}
.what-we p{color: #81868E;padding-bottom: 60px}
.what-we-item{border:3px solid #EBEBEB;border-radius: 20px;}
.what-we-item span{font-size: 45px;color: #EBEBEB;height: 110px;width: 110px;display: inline-block;background-color:#E84C3D;border-radius: 50%;line-height:110px;margin-top: 30px}
.what-we-item:hover{background: #E84C3D;}
.what-we-item:hover span{background: #FFFFFF;color: #E84C3D;}
.what-we-item:hover h3{color:#FFFFFF }
.what-we-item:hover p{color:#FFFFFF }
.what-we-item:hover .line:after{background:#FFFFFF }
.numbers{background: no-repeat}
.numbers{background-size: cover}
.numbers .number-item span{color: #FFFFFF;font-size: 40px;display: inline-block;margin-right: 10px;}
.number-item div{color: #FFFFFF;font-size: 2.15rem;margin-bottom: 31px;}
.number-item p{color: #FFFFFF;font-size: 1.2rem; }
.number-item .line:after{background:#FFFFFF }
.crew p{font-family: 'Open Sans', sans-serif;color: #81868E;}
.hover{bottom:5%; background: #E84C3D;width: 90%;left:5%;display: none;}
.hover p{font-size: 11px;color: #FFFFFF;font-weight: 300;}
.hover a{border:1px solid #fff;width: 30px;height: 30px;line-height: 30px;border-radius: 50%;color: #FFFFFF;text-decoration: none;}
.hover .social{margin-bottom: 10px}
.crew figure:hover .hover{display: block}
.crew .crew-item h4{font-size: 1.2rem;color: #333B46;font-weight: 500}
.crew .crew-item p{font-size: 0.8rem;font-weight: 400}



